<center>
  <a href='/expense/list'>list expenses</a> <br/>
  <a href='/expense/new'>new expense</a> <br/>
  <a href='/income/list'>list incomes</a> <br/>
  <a href='/income/new'>new income</a> <br/>
</center>
