<form method='POST' action='/expense/save'>
  Amount: <input type='text' name='amount' /> <br />
  Reason: <input type='text' name='reason' /> <br />
  <input type='submit' value='Submit' /> <br /> 
</form>
